<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>年会大富翁</title>
    <link rel="stylesheet" href="<%=baseUrl%>/css/pages/activity-annual.css">
</head>
<body>
<div id="router">
    <audio id="music">
        <source src="<%=baseUrl%>/img/activity/annual/tip.mp3" type="audio/mpeg" >
    </audio>
    <div class="game-map">
         <div class="map">
            <div class="step-run step-0">
                <span class="weight">GO</span>
            </div>
            <div class="step-run step-1 count">
                <span>+50</span>
            </div>
            <div class="step-run step-2 count">
                <span>+30</span>
            </div>
            <div class="step-run step-3 count">
                <span>+40</span>
            </div>
            <div class="step-run step-4 count">
                <span>+50</span>
            </div>
            <div class="step-run step-5 count">
                <span>+60</span>
            </div>
            <div class="step-run step-6 count">
                <span>+50</span>
            </div>
            <div class="step-run step-7 money">
                <span>+100w</span>
            </div>
            <div class="step-run step-8 count">
                <span>+30</span>
            </div>
            <div class="step-run step-9">
                <span class="weight">Skr</span>
            </div>
            <div class="step-run step-10 count">
                <span>+40</span>
            </div>
            <div class="step-run step-11 count">
                <span>+60</span>
            </div>
            <div class="step-run step-12 count">
                <span>-10</span>
            </div>
            <div class="step-run step-13 money">
                <span>+200w</span>
            </div>
            <div class="step-run step-14">
                <span class="weight">Skr</span>
            </div>
            <div class="step-run step-15 count">
                <span>+40</span>
            </div>
            <div class="step-run step-16 count">
                <span>+50</span>
            </div>
            <div class="step-run step-17 money">
                <span>+100w</span>
            </div>
            <div class="red-person">
                <img src="<%=baseUrl%>/img/activity/annual/red.png" alt="">
            </div>
            <div class="blue-person">
                <img src="<%=baseUrl%>/img/activity/annual/blue.png" alt="">
            </div>
            <div class="center">
                <img class="center-img "src="<%=baseUrl%>/img/activity/annual/gold-2.png" alt="">
            </div>
            <div class="game-tip"></div>
            <div class="all-money">200'000'000</div>
            <div class="red-light">
                <img src="<%=baseUrl%>/img/activity/annual/light.png" alt="">
            </div>
            <div class="red-step">
                <div class="step-num"><span>1</span></div>
                <div class="step-num"><span>2</span></div>
                <div class="step-num"><span>3</span></div>
                <div class="step-num"><span>4</span></div>
                <div class="step-num"><span>5</span></div>
                <div class="step-num"><span>6</span></div>
            </div>
            <div class="blue-step">
                <div class="step-num"><span>1</span></div>
                <div class="step-num"><span>2</span></div>
                <div class="step-num"><span>3</span></div>
                <div class="step-num"><span>4</span></div>
                <div class="step-num"><span>5</span></div>
                <div class="step-num"><span>6</span></div>
            </div>
        </div>
    </div>
    <div class="integral-1">
        <div class="money">
            <span class="money-count-1">000'000'000</span>
            <span class="money-tip">红队当前总狐币</span>
            <div class="red-integral">
                <div class="block-0"></div>
                <div class="block-1">50</div>
                <div class="block-2">100</div>
                <div class="block-3">150</div>
                <div class="block-4">200</div>
                <span class="tip-1"></span>
                <img class="tip-2" src="<%=baseUrl%>/img/activity/annual/money.png" alt="">
                <span class="tip-3"></span>
                <img class="tip-4" src="<%=baseUrl%>/img/activity/annual/money.png" alt="">
                <span class="tip-5"></span>
                <img class="tip-6" src="<%=baseUrl%>/img/activity/annual/money.png" alt="">
                <span class="tip-7"></span>
                <img class="tip-8" src="<%=baseUrl%>/img/activity/annual/money.png" alt="">
                <span class="tip-9">+500w</span>
                <span class="tip-10">+1000w</span>
                <span class="tip-11">+1500w</span>
                <span class="tip-12">+2000w</span>
            </div>
            <div class="integral">
                <span class="integral-count">10</span>
                <span class="integral-tip">当前积分</span>
            </div>
        </div>
    </div>
    <div class="integral-2">
        <div class="money">
            <span class="money-count-1">000'000'000</span>
            <span class="money-tip">蓝队当前总狐币</span>
            <div class="blue-integral">
                <div class="block-0"></div>
                <div class="block-1">50</div>
                <div class="block-2">100</div>
                <div class="block-3">150</div>
                <div class="block-4">200</div>
                <span class="tip-1"></span>
                <img class="tip-2" src="<%=baseUrl%>/img/activity/annual/money-2.png" alt="">
                <span class="tip-3"></span>
                <img class="tip-4" src="<%=baseUrl%>/img/activity/annual/money-2.png" alt="">
                <span class="tip-5"></span>
                <img class="tip-6" src="<%=baseUrl%>/img/activity/annual/money-2.png" alt="">
                <span class="tip-7"></span>
                <img class="tip-8" src="<%=baseUrl%>/img/activity/annual/money-2.png" alt="">
                <span class="tip-9">+500w</span>
                <span class="tip-10">+1000w</span>
                <span class="tip-11">+1500w</span>
                <span class="tip-12">+2000w</span>
            </div>
            <div class="integral">
                <span class="integral-count">10</span>
                <span class="integral-tip">当前积分</span>
            </div>
        </div>
    </div>
    <div class="next"><span>首页</span></div>
    <!-- <div class="end"><span>结算</span></div> -->
    <div class="protect-red">
        <input class="change" type="text">
        <button>确定</button>
    </div>
    <div class="protect-blue">
        <input class="change" type="text">
        <button>确定</button>
    </div>
</div>
<div class="special-reward">
    <div class="content-1">奇遇环节</div>
    <div class="content-2">两队积分差>100</div>
    <div class="content-3">
        <p>逢此奇遇，一年仅一次，落后方迎来一个困难重重的团队挑战</p>
        <p>挑战胜利，直接赢得60积分</p>
        <p>挑战失败，落后方全体男生30个俯卧撑</p>
    </div>
    <div class="success"><span>成功</span></div>
    <div class="failure"><span>失败</span></div>
</div>
<div class="the-end">
    <div class="coin">
        <img class="coin-light" src="<%=baseUrl%>/img/activity/annual/light.png" alt="">
        <img class="coin-gold" src="<%=baseUrl%>/img/activity/annual/gold-2.png" alt="">
    </div>
    <div class="money">200'000'000</div>
    <div class="progress-bar">
        <div class="red-bar"><span></span></div>
        <div class="blue-bar"><span></span></div>
    </div>
    <div class="red-result">
        <div class="result-money">红队每人获得</div>
        <img class="money-img" src="<%=baseUrl%>/img/activity/annual/gold-2.png" alt="">
        <div class="coin-money">00'000'000</div>
    </div>
    <div class="blue-result">
            <div class="result-money">蓝队每人获得</div>
            <img class="money-img" src="<%=baseUrl%>/img/activity/annual/gold-2.png" alt="">
            <div class="coin-money">00'000'000</div>
    </div>
</div>
<script type="text/javascript" src="<%=baseUrl%>/js/vendors/jquery.js"></script>
<script type="text/javascript" src="<%=baseUrl%>/js/pages/activity-annual.js"></script>
</body>
</html>